@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i|Roboto:300,400,500,700|Leckerli+One|Merienda+One&display=swap');


/*** 

====================================================================
	Page Title
====================================================================

***/

.page-title{
    position: relative;
    padding: 120px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-mask-image: url(../img/icons/shape_menu_1.svg);
    -webkit-mask-position: bottom;
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    
}

.page-title:before{
	position:absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(39,43,49,0.1);
}

.page-title .auto-container{
	position:relative;
}

.page-title h1{
	position:relative;
	color:#ffffff;
	font-size:51px;
	line-height:1.2em;
	margin-bottom: 10px;
	font-weight: 300;
}

.page-breadcrumb{
	position:relative;
	margin-top:5px;
}

.page-breadcrumb li{
	position:relative;
	display:inline-block;
	margin-right:10px;
	padding-right:15px;
	color:#ffffff;
	font-size:17px;
	font-weight:400;
	text-transform:capitalize;
}

.page-breadcrumb li:after{
	position:absolute;
	content: "/";
	right:-2px;
	top:1px;
	color:#ffffff;
	font-size:14px;
	font-weight: 500;
}

.page-breadcrumb li:last-child::after{
	display: none;
}

.page-breadcrumb li:last-child{
	padding-right:0px;
	margin-right:0px;
}

.page-breadcrumb li a{
	color:#ffffff;
	font-weight:500;
	text-transform: capitalize;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.page-breadcrumb li a:hover{
	opacity: .9;
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}